<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Js 11</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <h1>AngularJS Form Validation</h1>
    <p>AngularJS can validate input data</p>
    <h3>1 - required input field</h3>

    <div ng-app="">
        <p>Try writing in the input field:</p>

        <form name="myForm">
        <input name="myInput" ng-model="myInput" required>
        </form>

        <p>The input's valid state is:</p>
        <h1>{{myForm.myInput.$valid}}</h1>
    </div>

    <h3>2 - email validation </h3>

    <div ng-app="">
        <p>Try writing an E-mail address in the input field:</p>

        <form name="myForm">
        <input type="email" name="myInput" ng-model="myInput">
        </form>

        <p>The input's valid state is:</p>
        <h1>{{myForm.myInput.$valid}}</h1>
        <p>Note that the state of the input field is "true" before you start writing in it, even if it does not contain an e-mail address.</p>

    </div>

    <h3> 3 - Form State and Input State</h3>
    <p>AngularJS is constantly updating the state of both the form and the input fields.</p>
    <p>Input fields have the following states:</p>
    <ul>
        <li>$untouched The field has not been touched yet</li>
        <li>$touched The field has been touched</li>
        <li>$pristine The field has not been modified yet</li>
        <li>$dirty The field has been modified</li>
        <li>$invalid The field content is not valid</li>
        <li>$valid The field content is valid</li>
    </ul>




    
</body>
</html>