<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Js 11</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <h1>AngularJS Form Validation</h1>
    <p>AngularJS can validate input data</p>
    <h3>1 - required input field</h3>

    <div ng-app="">
        <p>Try writing in the input field:</p>

        <form name="myForm">
        <input name="myInput" ng-model="myInput" required>
        </form>

        <p>The input's valid state is:</p>
        <h1>{{myForm.myInput.$valid}}</h1>
    </div>

    <h3>2 - email validation </h3>

    <div ng-app="">
        <p>Try writing an E-mail address in the input field:</p>

        <form name="myForm">
        <input type="email" name="myInput" ng-model="myInput">
        </form>

        <p>The input's valid state is:</p>
        <h1>{{myForm.myInput.$valid}}</h1>
        <p>Note that the state of the input field is "true" before you start writing in it, even if it does not contain an e-mail address.</p>

    </div>

    <h3> 3 - Form State and Input State</h3>
    <p>AngularJS is constantly updating the state of both the form and the input fields.</p>
    <p>Input fields have the following states:</p>
    <ul>
        <li>$untouched The field has not been touched yet</li>
        <li>$touched The field has been touched</li>
        <li>$pristine The field has not been modified yet</li>
        <li>$dirty The field has been modified</li>
        <li>$invalid The field content is not valid</li>
        <li>$valid The field content is valid</li>
    </ul>

    <h3> 4 - Forms have the following states:</h3>
    <ul>
        <li>$pristine No fields have been modified yet</li>
        <li>$dirty One or more have been modified</li>
        <li>$invalid The form content is not valid</li>
        <li>$valid The form content is valid</li>
        <li>$submitted The form is submitted</li>
    </ul>

    <h3> 5 - two condition requirement</h3>
    <div ng-app="">
        <p>Try leaving the first input field blank:</p>
        <form name="myForm">
            <p>Name:
            <input name="myName" ng-model="myName" required>
            <span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</span>
            </p>
            
            <p>Address:
            <input name="myAddress" ng-model="myAddress" required>
            </p>
            
        </form>

        <p>We use the ng-show directive to only show the error message if the field has been touched AND is empty.</p>

    </div>

    <h3> 6 - changing css classes</h3>
    <style>
        input.ng-invalid {
            background-color:pink;
        }
        input.ng-valid {
            background-color:lightgreen;
        }
    </style>

    <div ng-app="">
        <p>Try writing in the input field:</p>
        <form name="myForm">
            <input name="myName" ng-model="myName" required>
        </form>

        <p>The input field requires content, and will therefore become green when you write in it.</p>

    </div>

    <h3> 7 - apply styles to modified or unmodified forms</h3>
    <style>
        form.ng-pristine {
            background-color:lightblue;
        }
        form.ng-dirty {
            background-color:pink;
        }
    </style>
    <div ng-app="">
        <form name="myForm">
            <p>Try writing in the input field:</p>
            
            <input name="myName" ng-model="myName" required>
            
            <p>The form gets a "ng-dirty" class when the form has been modified, and will therefore turn pink.</p>
        </form>

    </div>

    <h3> 8 - custom validation </h3>
    <p>Create your own directive, containing a custom validation function, and refer to it by using my-directive.</p>

    <div ng-app="myApp">
        <p>Try writing in the input field:</p>
        <form name="myForm">
            <input name="myInput" ng-model="myInput" required my-directive>
        </form>

        <p>The input's valid state is:</p>
        <h1>{{myForm.myInput.$valid}}</h1>

        <script>
        var app = angular.module('myApp', []);
        app.directive('myDirective', function() {
            return {
                require: 'ngModel',
                link: function(scope, element, attr, mCtrl) {
                    function myValidation(value) {
                        if (value.indexOf("e") > -1) {
                            mCtrl.$setValidity('charE', true);
                        } else {
                            mCtrl.$setValidity('charE', false);
                        }
                        return value;
                    }
                    mCtrl.$parsers.push(myValidation);
                }
            };
        });
        </script>

    </div>

    <h3> 9 - validation example </h3>
    <form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>

    <p>Username:<br>
    <input type="text" name="user" ng-model="user" required>
    <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
    <span ng-show="myForm.user.$error.required">Username is required.</span>
    </span>
    </p>

    <p>Email:<br>
    <input type="email" name="email" ng-model="email" required>
    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
    <span ng-show="myForm.email.$error.required">Email is required.</span>
    <span ng-show="myForm.email.$error.email">Invalid email address.</span>
    </span>
    </p>

    <p>
    <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
    myForm.email.$dirty && myForm.email.$invalid">
    </p>

    </form>

    <script>
    var app = angular.module('myApp', []);
    app.controller('validateCtrl', function($scope) {
        $scope.user = 'John Doe';
        $scope.email = 'john.doe@gmail.com';
    });
    </script>

    <h1>AngularJS Global API</h1>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p>{{ x1 }}</p>
        <p>{{ x2 }}</p>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.x1 = "JOHN";
            $scope.x2 = angular.lowercase($scope.x1);
        });
    </script>




    
</body>
</html>